# push_stream_shared_memory_size 32M;

server {
  listen 443 ssl;
  listen [::]:443 ssl;
  # include snippets/self-signed.conf;
  # include snippets/ssl-params.conf;
  
  server_name book-finder.us www.book-finder.us;

  location /.well-known/acme-challenge/ {
    root /var/www/certbot;
  }

  location / {
    proxy_pass http://app_server:5000;
    proxy_set_header X-Forwarded-Host $server_name;
    proxy_set_header X-Real-IP $remote_addr;
    add_header P3P 'CP="ALL DSP COR PSAa PSDa OUR NOR ONL UNI COM NAV"';
   }

  ssl_certificate /etc/letsencrypt/live/book-finder.us/fullchain.pem; # managed by Certbot
  ssl_certificate_key /etc/letsencrypt/live/book-finder.us/privkey.pem; # managed by Certbot
}

server {
  listen 80;

  if ($host = www.book-finder.us) {
    return 301 https://$host$request_uri;
  } # managed by Certbot

  if ($host = book-finder.us) {
    return 301 https://$host$request_uri;
  } # managed by Certbot
  
  server_name book-finder.us www.book-finder.us;
    return 404; # managed by Certbot
}
